.footer_div {
    position: relative;
    background-color: white;
    padding-bottom: 40px;
    padding-left: 20px;
    display: flex;
}

.column_1 {
    display: flex;
    flex-direction: column;
    width: 200px;
    row-gap: 30px;

    div {
        flex: 1;
        font-size: 18px;
        display: flex;
        width: 200px;

        span {
            font-weight: 600;
        }
    }

    .copy {
        font-size: 15px;
        padding-left: 10px;
    }

    a {
        text-decoration: none;
        color: black;
        transition: 0.25s;
    }

    a:hover {
        opacity: 0.5;
    }
}


.column_2 {
    padding-left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 18px;
    flex: 0.5;
}

.footer_socials {

    img {
        width: 1.8vw;
        margin-left: 20px;
        transition: 0.25s;
    }

    img:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.column_3 {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 10px;

    img {
        width: 17vw;
        transition: 0.25s;
        padding-right: 2vw;
    }

    img:hover {
        opacity: 0.5;
        width: 17.5vw;
    }


}

@media only screen and (max-width: 480px) {
    .footer_div {
        flex-direction: column;

        .column_1 {
            row-gap: 15px;
        }

        .column_2 {
            justify-content: start;
            padding-bottom: 25px;

            .footer_socials {
                img {
                    width: 18px;
                }
            }
        }

        .column_3 {
            img {
                width: 100px;
            }
        }
    }

}