.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-family: Hanken Grotesk;
    font-weight: 200;
    font-size: 16px;
    z-index: 1000;
    transition: 0.25s;
}



// Left section (logo)
.left_section {
    flex: 1;
}

.fajntajm_logo {
    flex: 1;
    width: 130px;
    margin-left: 3vw;
    transition: 0.25s;
    fill: white;
}

.fajntajm_logo:hover {
    opacity: 0.5;
}



// Middle section (main selection)
.mid_section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 100%;
}

.menu_item {
    flex: 1;
    margin: 20px;
    text-decoration: none;
    transition: 0.25s;
    color: white;
}

.menu_item:hover {
    opacity: 0.5;
}



// Right section (languages, social sites)
.right_section {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8vw;

    a {
        flex: 1;
        font-weight: 200;
        font-size: 14px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: 0.25s;
        text-align: center;
    }
}

.lang_item:hover {
    font-size: 1.2vw;
    opacity: 0.5;
}

.social_sites {
    display: flex;
    margin-left: 30px;
}

.ig_logo_header, 
.fb_logo_header {
    flex: 1;
    width: 20px;
    margin-right: 1vw;
    transition: 0.25s;
}

.ig_logo_header {
    fill:#FFFFFF;
}

.fb_logo_header {
    fill:#FFFFFF;
}

.ig_logo_header:hover, 
.fb_logo_header:hover {
    opacity: 0.5;
    cursor: pointer;
}



.hamburger_icon {
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 6vw;
    display: none;
    fill: #FFFFFF;
}

.hamburger_icon:hover {
    cursor: pointer;
}


// Hamburger menu
@media only screen and (max-width: 950px) {
    #changeable_header {
        height: 8vw;
    }
    
    .right_section {
        display: none; 
        position: fixed;
        margin-left: 20px;
        height: 15%;
        bottom: 0;
    }

    .hamburger {
        display: flex;
        align-items: center;
    }

    .hamburger_icon {
        flex: 1;
        display: flex;
        margin-right: 5vw;
        width: 3vw;
    }

    .fajntajm_logo {
        width: 15vw;
        margin-left: 9vw;
    }

    .mid_section {
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 7%;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        margin: 0;
        background-color: #ffffff;
    }

    .mid_section li a {
        color: rgb(0, 0, 0);
        display: flex;
        font-size: 5vh;
        margin-top: 10%;
    }

    .right_section {
        width: 100vw;
        justify-content: start;
    }

    .language a {
        color: rgb(0, 0, 0);
        font-size: 3vh;
        margin-right: 3vh;
    }

    .language a:hover {
        font-size: 3.1vh;
    }

    .social_sites {
        margin-left: 20vw;
    }

    .ig_logo_header {
        fill: black;
        width: 5vw;
    }

    .fb_logo_header {
        fill: black;
    }
}

@media only screen and (max-width: 480px) {
    #changeable_header {
        height: 17vw;
    }

    .fajntajm_logo {
        width: 28vw;
    }

    .hamburger_icon {
        width: 6vw;
    }

    .mid_section li a {
        font-size: 10vw;
    }

    .language a {
        font-size: 5vw;
    }

    .social_sites {
        margin-left: 30vw;
    }
}


// Classlists for JS
.logo_color_change {
    fill: black;
}

.header_bg_color_change {
    background-color: rgb(255, 255, 255);
}

.menu_color_change a {
    color: black;
}

.languages_color_change a {
    color: black;
}

.ig_logo_color_change {
    fill: black;
}

.fb_logo_color_change {
    fill: black;
}

.hamburger_icon_color_change {
    fill: black;
}

.hamburger_icon_color_change_bl {
    fill: black;
}

.menu_open {
    left: 0;
}

.right_section_open {
    display: flex;
}

.scroll-locked {
    overflow: hidden;
  }

.languages_color_change_hamburger {
    color: black;
}